<div class="col-md-6 col-md-offset-3">
    <br />
    <div class="form-group">
        <input class="form-control input-sm" type="text" id="inputSmall" ng-model="phrase">
    </div>
    <br />
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="active">
                <th>
                    <h4>
                        <span class="glyphicon glyphicon-trash"></span>
                    </h4>
                </th>
                <th><h4>Empno</h4></th>
                <th><h4>Email</h4></th>
                <th><h4>Alias</h4></th>
                <th><h4>Role</h4></th>
            </tr>
        </thead>
        <tbody>
            <!-- compile -->
            <!-- this is where the controller is started and the scope is instantiated -->
            <!-- sees the html , dead one and tries to parse it -->
            <!-- means he is going to make sense of other directives that are there -->
            <!-- will then trigger the prelink -->
            <!-- you have the template replacing the manifestation -->
            <!-- you then have the post link function -->
            <!-- binds the scope to the template replaced just above -->
            <!-- compiler - controller - prelink - postlink -->
            <tr on-row-click="employeeClicked(employee)" emp="e" 
                employee-row  
                ng-repeat="e in employees |likely:phrase track by $index" >
               
            </tr>
        </tbody>
    </table>
    <br />
    <button class="btn btn-primary btn-block" ng-click="save()">
        <span class="glyphicon glyphicon-send"></span> &nbsp;
        Save
    </button>
    <br />
    <!-- this is the new html tag that i have just invented -->
  

    
</div>