<div class="well col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" ng-model='userInfo.login' placeholder="john_smith">
      <span class="input-group-addon">@infosys.com</span>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input type="password" class="form-control" ng-model='userInfo.passwd'>
      <span class="input-group-btn">
        <button ng-click='login()' class="btn btn-info" type="button">Login &nbsp; <span class="glyphicon glyphicon-send"></span></button>
      </span>
    </div>
  </div>
</div>
