<div class="well">
  <custom-emp>
      <emp-label></emp-label>
      <br />
      <search-bar></search-bar>
      <br />
      <table class="table">
          <thead>
              <tr class="active">
                  <th><h4>Empno</h4></th>
                  <th><h4>Email</h4></th>
                  <th><h4>Alias</h4></th>
                  <th><h4>Location</h4></th>
              </tr>
          </thead>
          <tbody>
              <tr reportee-row></tr>
          </tbody>
      </table>
  </custom-emp>
</div>