<div class="col-md-6 col-md-offset-3">
    <div class="input-group">
       
        <input type="text" class="form-control" ng-model="phrase">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br />
    <table class="table table-responsive">
        <thead>
            <tr class="active">
                <th><h4>
                        <span class="glyphicon glyphicon-trash"></span>
                    </h4></th>
                <th><h4>Empno</h4></th>
                <th><h4>Email</h4></th>
                <th><h4>Alias</h4></th>
                <th><h4>Location</h4></th>
                <th><h4>Contact</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr employee-remove="employeeRemove($index)" employee="emp" emp-row ng-repeat="emp in reportees track by $index |likely:phrase"></tr>
        </tbody>
    </table>
</div>