<div class="col-md-6 col-md-offset-3">
    <div class="input-group">
       
        <input type="text" class="form-control" ng-model="phrase">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br />
    <table class="table table-responsive">
        <thead>
            <tr class="active">
                <th><h4>Empno</h4></th>
                <th><h4>Email</h4></th>
                <th><h4>Alias</h4></th>
                <th><h4>Location</h4></th>
                <th><h4>Contact</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in reportees|likely:phrase">
                <td><h4>{{emp.empno}}</h4></td>
                <td><h4>{{emp.email}}</h4></td>
                <td><h4>{{emp.alias}}</h4></td>
                <td><h4>{{emp.location.title}}</h4></td>
                <td><h4>{{emp.contact}}</h4></td>
            </tr>
        </tbody>
    </table>
</div>