<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" logged-user-only ng-controller="testController">
    <!-- <user-contact-card>
      <div class="panel-body">
        Regular user details
      </div>
    </user-contact-card>
    <user-contact-card>
      <div class="panel-body">
        Admin user details
      </div>
    </user-contact-card> -->
    <!--

    -->
    <!-- <level-one>
      <p>transcluding content</p>
      <level-two>
        <level-three>
        </level-three>
      </level-two>
    </level-one> -->
    <p>{{message}}</p>
    <shared-level>
    </shared-level>

    <inherited-level>
    </inherited-level>

    <isolated-level message="message" on-pick="itemPicked()">
    </isolated-level>
</div>
